body {
  background-color: peru;
}

body {
  color: white;
}

.clicked {
  color: skyblue;
}

.btn {
  cursor: pointer;
  font-size: 30px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
