body {
  background-color: peru;
}

.form,
.greetings {
  display: none;
}

.form {
  text-align: center;
}

input {
  font-size: 30px;
}

h4 {
  text-align: center;
  color: white;
  font-size: 40px;
}
.showing {
  display: block;
}
